<launch>

    <!--dji_ros-->
    <include file="$(find dji_ros)/launch/dji_ros_launch.launch" />

    <!--sensors: camera and rplidar-->
    <include file="$(find base_vision)/launch/usb_cam.launch" />
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

    <!--tf broadcaster-->
    <node name="tf_broadcaster" pkg="robomasters" type="tf_broadcaster.py" respawn="true" />
    
    <!--detect enemy-->
    <node name="detect_enemy" pkg="robomasters" type="detect_enemy.py" respawn="true" />
    
    <!--camera masking-->
    <node name="camera_masking" pkg="robomasters" type="camera_masking.py" respawn="true" />

    <!--armor detection, set blue or red-->
    <include file="$(find base_vision)/launch/armor_detection.launch" />
    
    <!--dodging and shooting-->
    <node name="dodgenshoot" pkg="robomasters" type="dodgenshoot.py" respawn="true" />
    

</launch>
